@import '../base/mixin';
@import '../base/vars';


main {
    #full-image-view{
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .9);
        z-index: 3;
        display: none;

        #full-image{
            height: 100%;
            display: block;
            margin: 0 auto;
        }

        #close{
            position: absolute;
            margin-top: 50px;
            svg{
                color: white;
                width: 300px;
            }
        }
    }

    .gallery-container {
        width: 90%;
        margin: 0 auto;
        padding-top: 200px;

        h1 {
            font-size: 3.5em;
            font-weight: bold;
            text-align: center;
        }

        h2{
            max-width: 70%;
            margin: 0 auto;
            transform: translateY(-160%);
            text-align: ce;
        }
        p{
            font-weight: 400;
            letter-spacing: 5px;
            font-size: 20px;
            text-align: center;
            padding-top: 50px;
            margin-bottom: 50px;
        }

        .flex{
            @include flex-box;
            .left-col{
                width: 33%;
                img{
                    width: 90%;
                    display: block;
                    margin: 0 auto;
                    margin-bottom: 20px;
                }
            }
            .midd-col{
                width: 33%;
                img{
                    width: 90%;
                    display: block;
                    margin: 0 auto;
                    margin-bottom: 20px;
                }
            }
        }
    }
}

@media only screen and (max-width: 912px){
    main{
        

        .gallery-container{
            #bb{
                font-size: 3em;
            }
            .flex{
                display: block;
                .left-col{
                    width: 100%;
                    img{
                        width: 100%;
                        display: block;
                        margin: 0 auto;
                        margin-bottom: 20px;
                    }
                }

                .midd-col{
                    width: 100%;
                    img{
                        width: 100%;
                        display: block;
                        margin: 0 auto;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 420px){
    main{
        

        .gallery-container{
            #bb{
                font-size: 3em;
            }
            .flex{
                display: block;
                .left-col{
                    width: 100%;
                    img{
                        width: 100%;
                        display: block;
                        margin: 0 auto;
                        margin-bottom: 20px;
                    }
                }

                .midd-col{
                    width: 100%;
                    img{
                        width: 100%;
                        display: block;
                        margin: 0 auto;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
    
}