@import '../base/mixin';
@import '../base/vars';

main {
    #first {
        padding-top: 150px;
        padding-bottom: 820px;
    }
}


@media only screen and (max-width: 1600px){
    main{
        #first{
            padding-bottom: 650px;
        }
    }
}




@media only screen and (max-width: 1280px){
    main{
        #first{
            padding-bottom: 490px;
        }
    }
}
@media only screen and (max-width: 1000px){
    main{
        #first{
            padding-bottom: 350px;
        }
    }
}

@media only screen and (max-width: 912px){
    main{
        #first{
            background-image: url('/img/123\ \(1\).jpg');
            background-size: cover;
            padding-bottom: 900px;
            background-position: 0px 0px;
        }
    }
}

@media only screen and (max-width: 420px){
    main{
        #first{
            background-image: url('/img/123\ \(1\).jpg');
            background-size: cover;
            padding-bottom: 500px;
            background-position: 0px 0px;
        }
    }
}