@import '../base/mixin';
@import '../base/vars';

main {
    #first {
        padding-top: 60px;
        .container {
            .img-cover {
                width: 100%;
                margin-top: 100px;
                background: rgb(27, 27, 27);
                background: linear-gradient(52deg, rgba(27, 27, 27, 1) 0%, rgba(27, 27, 27, 0.7035189075630253) 0%);
                padding: 100px 0px;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                margin-bottom: 200px;

                h1 {
                    font-size: 2.2em;
                    letter-spacing: 5px;
                    text-align: center;
                    font-weight: bold;
                    color: white;
                    max-width: 80%;
                    margin: 0 auto;

                    span {
                        color: white;
                        font-weight: bold;
                        font-style: italic;
                        display: block;
                        font-size: 1.4em;
                        margin-top: 30px;
                    }
                }

                p {
                    font-weight: 400;
                    letter-spacing: 10px;
                    font-size: 24px;
                    color: $red;
                    margin-bottom: 50px;
                    text-align: center;
                }

                button {
                    width: 280px;
                    background-color: $red;
                    font-size: 14px;
                    border: none;
                    border-radius: 50px;
                    height: 50px;
                    display: block;
                    margin: 0 auto;
                    margin-top: 50px;

                    &:hover{
                        background-color: white;
                        transition: 1s all;
                        a{
                            color: $red;
                            transition: 1s all;
                        }
                    }

                    a {
                        color: white;
                        font-weight: bold;
                        display: block;
                        padding-top: 3px;
                        font-size: 1.1em;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 390px) {
    main {
        #first {
            .container {
                .img-cover{
                    h1 {
                        font-size: 10px;
                        margin-left: 20px;
                        line-height: 70px;
                        span{
                            font-size: 15px;
                        }
                    }
    
                    button {
                        display: block;
                        margin: 0 auto;
                        margin-top: 100px;
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 414px) {
    main {
        #first {
            .container {
                .img-cover{
                    margin-top: 50px;
                    margin-bottom: 50px;
                    padding: 50px 0px;
                    h1 {
                        font-size: 3em;
                    }

                    p{
                        font-size: 1.1em;
                        padding: 0px 30px;
                    }
    
                    button {
                        display: block;
                        margin: 0 auto;
                        margin-top: 30px;
                    }
                }
            }
        }
    }
      
}