@import '../base/mixin';
@import '../base/vars';


footer{
    background-color: $black;
    padding-top: 100px;
    padding-bottom: 20px;
    color: white;
    .container{
        .flex{
            @include flex-box;
            #logo{
                button {
                    height: 40px;
                    border: none;
                    background: transparent;
                    border-radius: 50px;
                    border: 1px solid white;
                    width: 250px;

                    &:hover {
                        background-color: white;

                        a {
                            color: $black;
                            transition: 1s all;
                        }
                    }

                    a {
                        color: white;
                        font-weight: bold;
                        display: block;
                        padding-top: 3px;
                        font-size: 15px;
                        text-decoration: none;
                    }
                }
            }

            .media{
                a{
                    margin-left: 20px;
                    svg{
                        color: white;
                        width: 35px;
                    }
                }
            }
        }

        .big-p {
            font-size: 2.5em;
            margin: 0 auto;
            margin-top: 100px;
            font-weight: bold;
            max-width: 600px;
            text-align: center;
        }

        .bottom{
            text-align: center;
            margin-top: 100px;
            p{
                letter-spacing: 5px;
            }
        }
    }
}

@media only screen and (max-width: 420px){
    footer{
        .container{
            .flex{
                display: block;
                #logo{
                    width: 100%;
                    button{
                        display: block;
                        margin: 0 auto;
                    }
                }
                .media{
                    width: 100%;
                    display: block;
                    text-align: center;
                    margin-top: 30px;
                }

                
            }
        }
    }
}
