@import '../base/mixin';
@import '../base/vars';


footer{
    background-color: $black;
    padding-top: 100px;
    padding-bottom: 20px;
    color: white;
    .container{
        .flex{
            @include flex-box;
            #logo{
                button {
                    height: 40px;
                    border: none;
                    background: transparent;
                    border-radius: 50px;


                    &:hover {

                        a {
                            color: $red;
                            transition: 1s all;
                        }
                    }

                    a {
                        color: white;
                        font-weight: bold;
                        display: block;
                        padding-top: 3px;
                        font-size: 15px;
                        text-decoration: none;
                    }
                }
            }

            .media{
                a{
                    margin-left: 20px;
                    svg{
                        color: white;
                        width: 35px;
                    }
                }
            }
        }

        .big-p {
            font-size: 3.5em;
            margin: 0 auto;
            margin-top: 100px;
            font-weight: bold;
            max-width: 600px;
            text-align: center;
        }

        .bottom{
            text-align: center;
            margin-top: 100px;
            p{
                letter-spacing: 5px;
            }
        }
    }
}


@media only screen and (max-width: 390px){
    footer{
        .container{
            .flex{
                padding: 0px 20px;
            }

            .big-p{
                font-size: 3em;
                margin: 50px 0px;
                font-weight: bold;
                text-align: center;
            }
        }
    }
}


@media only screen and (max-width: 414px){
    footer{
        .container{
            .flex{
                padding: 0px 20px;
            }

            .big-p{
                font-size: 3em;
                margin: 50px 0px;
                font-weight: bold;
                text-align: center;
            }
        }
    }
}