@import '../base/mixin';
@import '../base/vars';


main {
    #first {
        video {
            width: 100%;
            height: 1000px;
            position: absolute;
            left: 0;
            right: 0;
            top: -10;
            bottom: 0;
            z-index: -1;
        }
    }

    .phone-background{
        display: none;
    }
}


@media only screen and (max-width: 414px){
    main{
        #first{
            .background-video{
                display: none;
            }
        }
        .phone-background{
            width: 100%;
            
        }
    }
}