@import '../base/mixin';
@import '../base/vars';


main {
    #first {
        video {
            position: fixed;
            top: -50px;
            z-index: -1;
            width: 100%;
        }
    }
}

@media only screen and (max-width: 912px){
   video{
       display: none;
   }
}

@media only screen and (max-width: 420px){
    #first{
        video{
            display: none;
        }
    }
}








