@import '../base/mixin';
@import '../base/vars';


main {
    #first {
        video {
            position: absolute;
            top: -10px;
            z-index: -1;
        }
    }

    .phone-background{
        display: none;
    }
}


@media only screen and (max-width: 414px){
    main{
        #first{
            .background-video{
                display: none;
            }
        }
        .phone-background{
            display: block;
            width: 100%;
            
        }
    }
}