@import '../base/mixin';
@import '../base/vars';

main{
    #first-services{
        padding-top: 150px;
        background-color: $gray-background;

        .top-img {
            height: 200px;
            width: 100%;
            background-image: url('/img/stranice\ slike/2.jpg');
            background-size: cover;
            background-attachment: fixed;
            background-position: 0px -600px;
            h1 {
                padding-top: 60px;
                font-size: 3.5em;
                font-weight: bold;
                text-align: left;
                color: white;
            }
        }
    }
}

@media only screen and (max-width: 2000px){
    main {
        #first-services {
            .top-img {
                background-position: 0px -550px;
            }
        }
    }
}

@media only screen and (max-width: 1800px){
    main {
        #first-services {
            .top-img {
                background-position: 0px -500px;
            }
        }
    }
}

@media only screen and (max-width: 1600px) {
    main {
        #first-services {
            .top-img {
                background-position: 0px -450px;
            }
        }
    }
}


@media only screen and (max-width: 1400px){
    main {
        #first-services {
            .top-img {
                background-position: 0px -350px;
            }
        }
    }
}

@media only screen and (max-width: 1280px){
    main{
        #first-services {
            .top-img {
                background-position: 0px -350px;
            }
        }
    }
}


@media only screen and (max-width: 912px){
    main{
        #first-services{
            .top-img {
                background-attachment: unset;
                background-position: 0px -220px;
                .container{
                    h1{
                        font-size: 3em;
                        text-align: center;
                        padding-top: 80px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 420px){
    main{
        #first-services{
            .top-img {
                background-size: cover;
                background-attachment: unset;
                background-position: 0px 0px;
                .container{
                    h1{
                        font-size: 2.5em;
                        text-align: center;
                        padding-top: 80px;
                    }
                }
            }
        }
    }
}