@import '../base/mixin';
@import '../base/vars';

#third-blog {
    padding: 100px 0px;

    .container {
        p {
            font-size: 1.2em;

            b {
                font-weight: 500;
                letter-spacing: 10px;
                font-size: 30px;
                margin-bottom: 30px;
                display: block;
            }
        }
    }
}