@import '../base/mixin';
@import '../base/vars';


main{
    #first-contact{
        .fixed-img{
            background-image: url('/img/867.jpg');
            background-size: 100%;
            background-repeat: no-repeat;
            background-attachment: fixed;
            padding-top: 300px;
            padding-bottom: 200px;
            .img-frame{
                width: 100%;
                background: rgb(27, 27, 27);
                background: linear-gradient(52deg, rgba(27, 27, 27, 1) 0%, rgba(27, 27, 27, 0.7035189075630253) 0%);
                padding: 100px 0px 70px 0px;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                text-align: center;
                h1 {
                    font-size: 3em;
                    letter-spacing: 5px;
                    text-align: center;
                    font-weight: bold;
                    color: white;
                    max-width: 80%;
                    margin: 0 auto;
                    margin-bottom: 30px;
                }
                p{
                    max-width: 70%;
                    margin: 0 auto;
                    text-align: center;
                    color: white;
                }
                button{
                    width: 450px;
                    height: 50px;
                    border: none;
                    border-radius: 50px;
                    margin: 0 auto;
                    margin-top: 30px;
                    font-weight: bold;
                    display: block;
                    padding-top: 3px;
                    
                    &:hover{
                        background-color: $red;
                        color: white;
                        transition: 1s all;
                        svg{
                            color: white;
                            transition: 1s all;
                        }
                    }
                    svg{
                        width: 30px;
                        margin-left: 40px;
                    }
                }
            }
        }
    }
}