@import '../base/mixin';
@import '../base/vars';

main {
    #second-about {

        .bottom {
            background-color: $gray-background;
            padding: 100px 0px;
            margin-top: 50px;

            p {
                font-size: 1.1em;
            }

            .big-p {
                font-weight: 400;
                letter-spacing: 10px;
                font-size: 2.2em;
                margin-bottom: 50px;
            }
        }
    }
    .top {
        background-color: $black;
        padding: 100px 0px;
        margin-bottom: 100px;

        h2 {
            font-size: 2.5em;
            letter-spacing: 5px;
            text-align: center;
            font-weight: bold;
            color: white;
            max-width: 80%;
            margin: 0 auto;
            margin-bottom: 30px
        }

        #solo-p {
            max-width: 60%;
            font-size: 1.1em;
            margin: 0 auto;
            text-align: center;
            color: white;
        }
    }


    .container {
        .flex {
            @include flex-box;

            .left {
                width: 50%;

                img {
                    width: 400px;
                    display: block;
                    margin: 0 auto;
                }

                p {
                    font-size: 1.5em;
                    font-weight: 500;
                    letter-spacing: 2px;
                    text-align: center;
                    margin-top: 30px;
                }
            }

            .right {
                width: 50%;

                img {
                    width: 400px;
                    display: block;
                    margin: 0 auto;
                }

                p {
                    font-size: 1.5em;
                    font-weight: 500;
                    letter-spacing: 2px;
                    text-align: center;
                    margin-top: 30px;
                }
            }
        }
    }
}